@model DataViewModel<Category>

<tr>
    <td>@Html.LabelFor(Model => Model.Current.categoryName)</td>
    <td>
        @Html.TextBoxFor(Model => Model.Current.categoryName)
        @Html.ValidationMessageFor(Model => Model.Current.categoryName)
    </td>
</tr>
<tr>
    <td>@Html.LabelFor(Model => Model.Current.description)</td>
    <td>
        @Html.TextBoxFor(Model => Model.Current.description)
        @Html.ValidationMessageFor(Model => Model.Current.description)
    </td>
</tr>
