@using webtest1.Controllers
@model DataViewModel<Customer>
@{
    ViewData["Title"] = "Customer List";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("GetCustomer", "Customer", FormMethod.Post))
{
    @(Html
        .Grid(Model.Data)
        .Build(columns =>
        {
            columns.Add(Model => $"<button type=\"submit\" onclick=\"doEdit('{Model.customerId}')\">Edit</button>").Encoded(false);
            columns.Add(Model => $"<button type=\"submit\" onclick=\"doDelete('{Model.customerId}')\">Delete</button>").Encoded(false);            
            columns.Add(Model => Model.customerId);
            columns.Add(Model => Model.companyName);
            columns.Add(Model => Model.contactName);
            columns.Add(Model => Model.contactTitle);
            columns.Add(Model => Model.address);
            columns.Add(Model => Model.city);
            columns.Add(Model => Model.region);
            columns.Add(Model => Model.postalCode);
            columns.Add(Model => Model.country);
            columns.Add(Model => Model.phone);
            columns.Add(Model => Model.fax);
        })
        .Using(GridFilterMode.Header)
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable(pager => {
            pager.RowsPerPage = 8;
        })
    )

    <button type="submit" onclick="doInsert()">Insert</button>

    @Html.HiddenFor(Model => Model.Current);
    @Html.HiddenFor(Model => Model.Id);
    @Html.HiddenFor(Model => Model.Action);
    
    <script>
    function doEdit(id)
    {        
        $("#Action").val("edit");
        $("#Id").val(id);     
    }

    function doInsert(id)
    {
        $("#Action").val("insert");
        $("#Id").val(id);             
    }    
    
    function doDelete(id)
    {
        if (confirm("Delete?"))
        {
            $("#Action").val("delete");
            $("#Id").val(id);       
        }
        else
        {
            return false;
        }
    }

    </script>
}
