@model DataViewModel<Category>
@{
    ViewData["Title"] = "Category Edit for " + Model.Current.categoryId;
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("GetCategory", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(Model => Model.Id)
    @Html.HiddenFor(Model => Model.Action)
    
    @Html.HiddenFor(Model => Model.Current.categoryId)

    @Html.ValidationSummary(true)
    <table>

        @await Html.PartialAsync("Fields", Model)
        <tr>            
            <td>&nbsp;</td>
            <td>
                <button type="submit" onclick="doUpdate();">Update</button>
                <button type="submit" onclick="doCancel();">Cancel</button>
            </td>
        </tr>
    </table>            
}

<script>
    function doUpdate()
    {            
        $("#Action").val("updatedata");   
        $("#Id").val($("#Current_categoryId").val());     
    }
    
    function doCancel()
    {
        $("#Action").val("cancel");          
        $("#Id").val($("#Current_categoryId").val());       
    }
</script>
