@model AboutViewModel
@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Version</h1>    
    <p>Environment: @Model.CurrentEnvironment</p>
    <p>Message: @Model.Message</p>
    <p>Web: @Model.Version</p>
    <p>Category Service: @Model.CategoryVersion</p>
    <p>Customer Service: @Model.CustomerVersion</p>
    <p>Employee Service: @Model.EmployeeVersion</p>
    <p>Product Service: @Model.ProductVersion</p>
</div>
<div class="text-center">
    <dl>
        
        <h1 class="display-4">Cookies</h1>    
        @foreach(var kvp in Model.Cookies)
        {
            <dt>@kvp.Key</dt>
            <dd>@kvp.Value</dd>    
        }
    </dl>
</div>
