@model DataViewModel<Product>
@{
    ViewData["Title"] = "Product Insert";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("GetProduct", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(Model => Model.Id)
    @Html.HiddenFor(Model => Model.Action)
        
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(Model => Model.Current.productId)</td>
            <td>
                @Html.TextBoxFor(Model => Model.Current.productId)
                @Html.ValidationMessageFor(Model => Model.Current.productId)
            </td>
        </tr>
        @await Html.PartialAsync("Fields", Model)
        <tr>            
            <td>&nbsp;</td>
            <td>
                <button type="submit" onclick="doInsert();">Insert</button>
                <button type="button" onclick="doCancel();">Cancel</button>
            </td>
        </tr>
    </table>            
}

<script>
    function doInsert()
    {            
        $("#Action").val("insertdata");   
        $("#Id").val($("#Current_productId").val());     
    }
    
    function doCancel()
    {
        $("#Action").val("cancel");          
        $("#Id").val($("#Current_productId").val());       
        window.history.back();    
    }
</script>
